@page
@model RegisterVisitors.RegistrationDoneModel
@{
    ViewData["Title"] = "RegistrationDone";
}
    <img src="~/images/orango.png" id="logoRegDone" />
    <div class="centered">
        
        <h1>Tack för din anmälan!</h1>
        <a asp-page="./Form" class="btn btn-default" id="backBtn">Ny registrering</a>
    </div>